.site-header {
background-color: rgb(143, 143, 250);
color : #ecfdf9;
height: 100vh;
font-family: monospace;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

body{
    margin: 0;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #032720 2px 5px 5px;
}

.site-header-content{
    margin: 10px;
}
.para_PA {
    color : black;
    font-family: sans-serif;
}

.para_2{

    color : black;
}

.course-link{
    color : #ecfdf9;
}